.contact .container {
  padding: 70px 0;
  background: linear-gradient(rgba(47, 50, 75, 0.85), rgba(47, 50, 75, 0.85)),
    url(../images/bg_contact.jpg) center/cover no-repeat;
  color: var(--text-primary-color);
}

.contact .section-title {
  margin-bottom: 17px;
}

.contact__title {
  margin-bottom: 50px;
  font-size: 22px;
  line-height: 26px;
  opacity: 0.8;
  text-align: center;
}

.contact__form {
  margin: 0 auto 52px;
  max-width: 423px;
}

.contact__form-input {
  margin-bottom: 19px;
  width: 100%;
  padding: 8px 23px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: var(--text-primary-color);
  background-color: transparent;
  border-radius: 50px;
  outline: 1px solid var(--text-primary-color);
}

.contact__form-input:last-of-type {
  margin-bottom: 49px;
}

.contact__form-btn {
  padding: 12px 41px;
  font-size: 20px;
  line-height: 23px;
  color: var(--text-primary-color);
  background-color: var(--logo-bg-color);
}

.contact__agreement {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.contact__link {
  color: var(--contact-link-color);
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .contact {
    padding-bottom: 56px;
  }
  .contact__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
  }
  .contact__form {
    margin-bottom: 30px;
    max-width: 377px;
  }
  .contact__form-input {
    padding: 8px 23px;
    font-size: 20px;
    line-height: 23px;
  }
  .contact__form-btn {
    font-weight: 500;
  }
  .contact__agreement {
    font-size: 17px;
    line-height: 20px;
  }
}

@media (max-width: 320px) {
  .contact {
    padding: 30px 0;
  }
  .contact__title {
    margin-bottom: 35px;
    font-size: 12px;
    line-height: 14px;
  }
  .contact__form {
    max-width: 290px;
  }
  .contact__form-input {
    margin-bottom: 21px;
    padding: 6px 18px;
    font-size: 14px;
    line-height: 16px;
  }
  .contact__form-input:last-of-type {
    margin-bottom: 45px;
  }
  .contact__form-btn {
    padding: 10px 26px;
    font-size: 16px;
    line-height: 19px;
  }
  .contact__agreement {
    font-size: 11px;
    line-height: 13px;
  }
}
