/*@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

@font-face {
  font-family: Pacifico;
  src: url("../fonts/Pacifico-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
