.footer {
  padding-top: 45px;
  padding-bottom: 41px;
  background-color: var(--footer-bg-color);
  color: var(--text-primary-color);
}

.footer__logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer__author {
  font-size: 12px;
  line-height: 17px;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo .logo {
  margin-right: 19px;
}

.footer__copyright {
  padding-bottom: 4px;
  max-width: 127px;
  font-size: 12px;
  line-height: 17px;
}

.footer .callme {
  padding-bottom: 5px;
}

@media (max-width: 1024px) {
  .footer {
    padding: 37px 0 45px;
  }
  .footer__copyright,
  .footer__author {
    font-weight: 500;
  }
  .footer__author {
    padding-right: 11px;

    text-align: center;
    opacity: 0.5;
  }
}

@media (max-width: 520px) {
  .footer__author {
    order: 1;
    flex-grow: 1;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 24px 0 0;
  }
  .footer__logo-wrapper {
    gap: 15px;
  }
  .footer__copyright {
    max-width: 90px;
    font-size: 8px;
    line-height: 11px;
  }

  .footer__author {
    /* order: 1; */
    margin: 0 -15px;
    padding: 18px 0;
    /* flex-grow: 1; */
    font-size: 12px;
    line-height: 17px;
    background-color: #2a2c3f;
  }
}

@media (max-width: 320px) {
}
