.logo {
  /*padding-bottom: 5px;*/
  width: 68px;
  height: 68px;
  /*display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Pacifico", cursive;
  font-size: 25.16px;
  line-height: 44px;
  font-weight: 400;
  color: var(--text-primary-color);
  border-radius: 50%;
  background-color: var(--logo-bg-color);*/
}

@media (max-width: 1024px) {
  .logo {
    width: 60px;
    height: 60px;
    /*font-size: 22px;
    line-height: 39px;*/
  }
}

@media (max-width: 320px) {
  .logo {
    /*padding-bottom: 3px;*/
    width: 30px;
    height: 30px;
    /*font-size: 11px;
    line-height: 19px;*/
  }
}
