input[type="radio"] {
    display: none;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

.slider-wrapper {
    margin: 50px auto;
    width: 300px;
    height: 300px;
    background-color: #f0f0f0;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
}

.slide {
    display: none;
    z-index: 0;
    text-align: center;
}

.label {
    display: none;
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-weight: 700;
    color: white;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.label.prev {
    left: 0;
}

.label.next{
    right: 0;
}

#prev-1:checked ~ .slide-1,
#next-1:checked ~ .slide-1,
#prev-2:checked ~ .slide-2,
#next-2:checked ~ .slide-2,
#prev-3:checked ~ .slide-3,
#next-3:checked ~ .slide-3,
#prev-4:checked ~ .slide-4,
#next-4:checked ~ .slide-4 {
    display: block;
    z-index: 400;
}

#prev-1:checked ~ .label-prev-4,
#prev-1:checked ~ .label-next-2,
#next-1:checked ~ .label-prev-4,
#next-1:checked ~ .label-next-2,
#prev-2:checked ~ .label-prev-1,
#prev-2:checked ~ .label-next-3,
#next-2:checked ~ .label-prev-1,
#next-2:checked ~ .label-next-3,
#prev-3:checked ~ .label-prev-2,
#prev-3:checked ~ .label-next-4,
#next-3:checked ~ .label-prev-2,
#next-3:checked ~ .label-next-4,
#prev-4:checked ~ .label-prev-3,
#prev-4:checked ~ .label-next-1,
#next-4:checked ~ .label-prev-3,
#next-4:checked ~ .label-next-1
{
    display: flex;
}


